body,
html {
    height: 100vh;
}

body {
    background: linear-gradient(180deg, #284F8A 63.02%, rgba(144, 234, 169, 0.79) 93.23%);
    margin: 0;
    display: grid;
    grid-template-columns: 22% auto;
    grid-template-rows: 10% 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'header header'
        'sidebar main'
        'sidebar main'
        'sidebar main'
        'sidebar main';

}

header {
    grid-area: header;
    background: rgb(24, 97, 180);
}

aside {
    grid-area: sidebar;
    background: #103976;
    border-radius: 15px;
    margin-bottom: 50px;
    
}

main {
    grid-area: main;
    background: linear-gradient(180deg, #284F8A 63.02%, rgba(144, 234, 169, 0.79) 93.23%);
    margin-bottom:5px;

}

ul {
    font-family: 'Salsa', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    list-style: none;
    
}
li{
    border-radius: 30%;
    padding: 0;
    margin: 0;
}

.submenu a {
    font-family: Salsa;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #EF6666;
}

a {
    color: #AFC067;
    text-decoration: none;
}

iframe {
    width: 100%;
    height: 100%;
    
    
}

header .logo {
    font-family: Salsa;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #DCFFE4;
    position: absolute;
    float: left;
    top: 0;
  

}

header .exit {
    font-family: Sansita;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #6680A8;
    float: right;
    margin-top: 5px;

}

header img {
    width: 45.32px;
    height: 56.25px;
    margin-top: 5px;
    
}